.contenedor{
	background-color: blue;
	display: inline-flex; /*respeta el tamaño de cada hijo... se va por fuera de los margenes*/
	/* display: flex; */
}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}